*,
*::before,
*::after {
  padding: 0em;
  margin: 0em; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow: hidden; }

.border-radius {
  border-radius: 3rem; }

.selected {
  color: #3E8288; }

.header {
  display: grid;
  grid-template-rows: 25vh 75vh;
  grid-template-columns: 25% 25% 25% 25%;
  font-size: 1.5rem; }
  .header_background {
    height: 100vh;
    width: 100vw;
    opacity: 1;
    grid-column: 1/ span 4;
    grid-row: 1/span 4; }
  .header_character {
    height: 60rem;
    grid-column: 4 /span 1;
    grid-row: 2;
    z-index: 2;
    justify-self: center;
    align-self: center;
    margin-right: 12rem;
    margin-bottom: 10rem; }
    @media (max-width: 75em) {
      .header_character {
        height: 70rem;
        width: auto;
        grid-column: 2/ span 2;
        justify-self: center;
        align-self: center; } }
    @media (max-width: 56.25em) {
      .header_character {
        height: 90rem; } }

.nav {
  z-index: 10;
  grid-column: 2 / span 2;
  grid-row: 1;
  color: #A0A0A0;
  cursor: pointer; }
  .nav ul {
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 4rem;
    margin-top: 6rem; }
  .nav li {
    width: 15rem;
    display: inline-block;
    padding-top: 1rem; }
    .nav li:hover {
      color: #3E8288; }
  .nav__hover {
    width: 10rem;
    position: absolute;
    left: 38%;
    top: 5%;
    transition: transform 1s;
    transform: scale(0) translateX(5rem) translateY(-20rem);
    color: #A0A0A0;
    z-index: 10; }
    .nav__hover ul {
      width: 10rem;
      height: 13rem;
      display: block;
      background-color: #000;
      padding-left: 1.3rem; }
    .nav__hover li {
      width: 10rem; }
      .nav__hover li:hover {
        color: #3E8288; }
  .nav__key_logo {
    z-index: 20;
    height: 12rem;
    width: auto;
    display: inline-block;
    grid-column: 2/ span 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    padding-top: 0;
    cursor: pointer;
    position: relative; }
    @media (max-width: 56.25em) {
      .nav__key_logo {
        margin-top: -13rem; } }
  .nav__key_logo:hover {
    transform: rotateY(360deg);
    transition: all 2s; }
  .nav__item-3 {
    height: 10rem;
    border-radius: 50%;
    transform: translateY(-3rem) scaleX(0.7);
    z-index: 1 !important;
    display: inline-block;
    background-color: #000;
    box-sizing: border-box;
    transition: box-shadow 1s; }
    .nav__item-3:hover {
      box-shadow: 10px 10px 50px 2px #3c78d8; }
  .nav__item-1 {
    background-color: #553196;
    text-align: center;
    border-bottom-left-radius: 4rem;
    border-top-left-radius: 4rem;
    border-bottom: solid 2rem black;
    border-right: solid 0.3rem #000;
    grid-column: 2; }
    .nav__item-1:hover {
      box-shadow: 10px 10px 50px 2px #3c78d8; }
  .nav__item-2 {
    background-color: #553196;
    text-align: center;
    border-bottom: solid 2rem black;
    margin-right: -3rem; }
    .nav__item-2:hover {
      box-shadow: 10px 10px 50px 2px #3c78d8; }
    .nav__item-2:hover .nav__hover {
      transform: scale(1); }
  .nav__item-4 {
    background-color: #553196;
    text-align: center;
    border-bottom: solid 2rem black;
    margin-left: -3rem; }
    .nav__item-4:hover {
      box-shadow: 10px 10px 50px 2px #3c78d8; }
  .nav__item-5 {
    background-color: #553196;
    text-align: center;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-left: solid .3rem black;
    border-bottom: solid 2rem black;
    transition: background-color 1s;
    /*   Comment code out as I didn't like the look of double borders but may be useful later
     &::before{
            content:"";
            position: absolute;
            border: solid 5px #7035A2;
            border-bottom-right-radius:40px;
            border-top-right-radius:40px;
            //position of the border
            top:-3px;
            left:-5px;
            right:-4px;
            bottom:-21px;
            visibility: hidden;
        }
        &::after{
            content:"";
            position: absolute;
            border-bottom-right-radius:40px;
            border-top-right-radius:40px;
            //position of the border
            top:-5px;
            left:-7px;
            right:-8px;
            bottom:-26px;
        }

        &:hover::before {
            visibility: visible;
        
        } */ }
    .nav__item-5:hover {
      box-shadow: 10px 10px 50px 2px #3c78d8; }

.footer {
  position: absolute;
  top: 85.5vh;
  display: grid;
  grid-template-columns: 20% 5% 40%;
  grid-gap: 3%;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  color: #A0A0A0; }
  .footer__key_logo {
    z-index: 5;
    height: 12rem;
    width: auto;
    display: inline-block;
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    align-self: center; }
  .footer__list {
    list-style: none;
    grid-column: 2;
    justify-self: center;
    color: #805881;
    text-decoration: underline; }
  .footer__link {
    color: #3E8288;
    display: inline-block;
    text-decoration: underline; }
  .footer__navigation {
    grid-column: 2;
    padding-left: 2rem;
    border-left: solid 1px white;
    justify-self: start;
    align-self: center;
    /*   &::after{
            position: absolute;
            content:"";
            height:20%;
            border-left: solid 1px black;
        }*/ }
  .footer__copyright {
    grid-column: 3;
    padding-left: 2rem;
    border-left: solid 1px white;
    justify-self: start;
    align-self: center; }

.metal_store,
.galaxy_store,
.crystal_store,
.resin_store,
.seashell_store {
  position: absolute;
  width: 70rem;
  height: 50rem;
  background-image: radial-gradient(#B1A2E0 1%, #4e3974);
  border-radius: 5rem;
  display: grid;
  grid-template-rows: 45% 10% 45%;
  grid-template-columns: 25% 25% 25% 25%;
  top: 20%;
  left: 120%;
  opacity: 1;
  transition: transform 2s, left 2s;
  justify-items: center;
  align-items: center;
  z-index: 4;
  box-shadow: 10px 10px 20px 10px #000; }

.metal__heading,
.galaxy__heading,
.crystal__heading,
.resin__heading,
.seashell__heading {
  color: #000;
  grid-row: 2;
  grid-column: 2 / span 2;
  font-size: 4rem; }

.metal__item-one, .metal__item-two, .metal__item-three, .metal__item-four,
.galaxy__item-one,
.galaxy__item-two,
.galaxy__item-three,
.galaxy__item-four,
.crystal__item-one,
.crystal__item-two,
.crystal__item-three,
.crystal__item-four,
.resin__item-one,
.resin__item-two,
.resin__item-three,
.resin__item-four,
.seashell__item-one,
.seashell__item-two,
.seashell__item-three,
.seashell__item-four {
  width: 15rem;
  height: 15rem;
  grid-row: 1;
  transition: transform 1s;
  backface-visibility: hidden;
  box-shadow: 10px 10px 5px 1px #000; }

.metal__item-one,
.galaxy__item-one,
.crystal__item-one,
.resin__item-one,
.seashell__item-one {
  grid-column: 1; }

.metal__item-two,
.galaxy__item-two,
.crystal__item-two,
.resin__item-two,
.seashell__item-two {
  grid-column: 2; }

.metal__item-three,
.galaxy__item-three,
.crystal__item-three,
.resin__item-three,
.seashell__item-three {
  grid-column: 3; }

.metal__item-four,
.galaxy__item-four,
.crystal__item-four,
.resin__item-four,
.seashell__item-four {
  grid-column: 4; }

.metal__item-five,
.galaxy__item-five,
.crystal__item-five,
.resin__item-five,
.seashell__item-five {
  width: 15rem;
  grid-column: 1;
  grid-row: 3; }

.metal__item-six,
.galaxy__item-six,
.crystal__item-six,
.resin__item-six,
.seashell__item-six {
  width: 15rem;
  grid-row: 3;
  grid-column: 2; }

.metal__item-seven,
.galaxy__item-seven,
.crystal__item-seven,
.resin__item-seven,
.seashell__item-seven {
  width: 15rem;
  grid-column: 3;
  grid-row: 3; }

.metal__item-eight,
.galaxy__item-eight,
.crystal__item-eight,
.resin__item-eight,
.seashell__item-eight {
  width: 15rem;
  grid-column: 4;
  grid-row: 3; }

.crystal__heading {
  text-transform: uppercase;
  color: #000;
  grid-row: 2;
  grid-column: 2 / span 2;
  font-size: 3rem; }

.card {
  backface-visibility: hidden;
  perspective: 1000; }
  .card:hover .galaxy__item-one, .card:hover .galaxy__item-two, .card:hover .galaxy__item-three, .card:hover .galaxy__item-four {
    transform: rotateY(-180deg); }
  .card__back {
    position: absolute;
    top: 3.7rem;
    left: 1.3rem;
    background-image: linear-gradient(to top right, #813471, #5a112d);
    height: 15rem;
    width: 15rem;
    border-radius: 3rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    z-index: 1;
    transition: transform 1s;
    box-shadow: 10px 10px 5px 1px #000; }
    .card__back-1 {
      left: 18.8rem; }
    .card__back-2 {
      left: 36.25rem; }
    .card__back-3 {
      left: 53.8rem; }
  .card:hover .card__back {
    transform: rotateY(0deg); }
