*,
*::before,
*::after{
    padding:0em;
    margin:0em;
}
html{
    font-size:62.5%;
    @include re-size(desktop){
        font-size:75%;
    }
    @include re-size(tab-land){
        font-size:56.25%;
    }
    @include re-size(tab-port){
        font-size:50%;
    }
    @include re-size(mobile){
        font-size:43.75%;
    }
    
}
body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    
}
.border-radius{
    border-radius: 3rem;
}
.selected{
    color:$col-green-blue;
}
