<!DOCTYPE 5 html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="/js/pageChanger_v2.js"></script>
</head>
<body>
    
    <div class="mobile">
    <div class="nav__open">&nbsp;
        <div class="nav__open-button">&nbsp;</div>
    </div>
    <nav class ="nav__mobile">
        <ul>
            <li class = "nav__mobile__home">Home</li>
            <li class = "nav__mobile__item-2">Collection
                <div class="nav__mobile__hover">
                    <ul>
                        <li class="nav__mobile__hover-galaxy">Galaxy</li>
                        <li class="nav__mobile__hover-crystal">Crystal</li>
                        <li class="nav__mobile__hover-metal">Metal Wing</li>
                        <li class="nav__mobile__hover-sea-shell">Sea Shells</li>
                    </ul>
                </div>
            </li>
            <li class = "nav__mobile__about-me">About Me</li>
            <li class = "nav__mobile__fAQ">FAQ</li>
        </ul>       
    </nav>
    </div>
    <header class="header">
       <img src="img/background_raw.jpg" class="header_background">
       <img src="img/stella.png" class="header_character">
       
        <nav class='nav'>
        <ul>
            <li class = "nav__home">Home</li>
            <li class = "nav__item-2">Collection
                <div class="nav__hover">
                        <ul>
                            <li class="nav__hover-galaxy">Galaxy</li>
                            <li class="nav__hover-crystal">Crystal</li>
                            <li class="nav__hover-metal">Metal Wing</li>
                            <li class="nav__hover-sea-shell">Sea Shells</li>
                        </ul>
                    </div>
            </li>
            <li class = "nav__item-3"> <img src ="img/logo.png" class="nav__key_logo"></li>
            <li class = "nav__about-me">About Me</li>
            <li class = "nav__fAQ">FAQ</li>
        </ul>    
        </nav>
    </header> 

    <section class="Home">
            <h1 class="home__heading">Welcome to my world of magical jewellery.</h1>
            <p class="home__content">My mascot Stella will guide you through all
                the pieces which are currently available.
                If you have any questions or if you're interested in a custom order, 
                please don't hesitate to send me an email. <br><br> Enjoy your stay &#10084;</p>
            <img src="img/mascot.jpg" alt="" class="home__img">
    </section> 
    <section class="galaxy_store store">
        <h1 class="galaxy__heading">Galaxy Girl</h1>
        <div class="card">
            <div class="card card__front"><img src="img/Collection/Galaxy Girl/blue.jpg" alt="" class="item-one border-radius"></div>
            <div class="card card__back card__back-1"></div>
        </div>
        <div class="card">
            <div class="card card__front"><img src="img/Collection/Galaxy Girl/green.jpg" alt="" class="item-two border-radius"></div>
            <div class="card card__back card__back-2"> </div>
        </div>
        <div class="card">
            <div class="card card__front"><img src="img/Collection/Galaxy Girl/pink.jpg" alt="" class="item-three border-radius"></div>
            <div class="card card__back card__back-3"> </div>
        </div>
        <div class="card">
            <div class="card card__front"><img src="img/Collection/Galaxy Girl/red.jpg" alt="" class="item-four border-radius"></div>
            <div class="card card__back card__back-4"> </div>
        </div> 
    </section>
    <section class="crystal_store store">
        <h1 class="crystal__heading">Crystal Pendants</h1>
            <div class="card">
                <img src="img/Collection/Crystals/darkcrystals2.jpg" alt="" class="item-one border-radius">
                <div class="card card__back card__back-1"> </div>
            </div>
            <div class="card">
                <img src="img/Collection/Crystals/dreierkristall.jpg" alt="" class="item-two border-radius">
                <div class="card card__back card__back-2"> </div>
            </div>
            <div class="card">
                <img src="img/Collection/Crystals/mooncrystals.jpg" alt="" class="item-three border-radius">
                <div class="card card__back card__back-3"> </div>
            </div>
            <div class="card">
                <img src="img/Collection/Crystals/twocrystals.jpg" alt="" class="item-four border-radius">
                <div class="card card__back card__back-4"> </div>
            </div>
           
            <div class="position-five">
                <div class="card">
                    <img src="img/Collection/Crystals/widecrystals.jpg" alt="" class="item-five border-radius">
                    <div class="card card__back card__back-5"> </div>
                </div>
            </div>
            <div class="card">
                <img src="img/Collection/Crystals/spacecrystals.jpg" alt="" class="item-six border-radius">
                <div class="card card__back card__back-6"> </div>
            </div>
           

    </section> 
    <section class="metal_store store">
            <h1 class="metal__heading">Metal Wing</h1>
            <div class="card">
                <div class="card card__front"><img src="img/Collection/Metal Wings/celestialkey.jpg" alt="" class="item-one border-radius"></div>
                <div class="card card__back card__back-1"></div>
            </div>
            <div class="card">
                <div class="card card__front"><img src="img/Collection/Metal Wings/dragonage.jpg" alt="" class="item-two border-radius"></div>
                <div class="card card__back card__back-2"> </div>
            </div>
            <div class="card">
                <div class="card card__front"><img src="img/Collection/Metal Wings/dragonkey.jpg" alt="" class="item-three border-radius"></div>
                <div class="card card__back card__back-3"> </div>
            </div>
            <div class="card">
                <div class="card card__front"><img src="img/Collection/Metal Wings/dragonwings.jpg" alt="" class="item-four border-radius"></div>
                <div class="card card__back card__back-4"> </div>
            </div>
            <div class="card">
                <div class="card card__front"><img src="img/Collection/Metal Wings/gardenkey.jpg" alt="" class="item-five border-radius"></div>
                <div class="card card__back card__back-5"> </div>
            </div>
            <div class="card">
                <div class="card card__front"><img src="img/Collection/Metal Wings/portalwings.jpg" alt="" class="item-six border-radius"></div>
                <div class="card card__back card__back-6"> </div>
            </div>
            <div class="card">
                <div class="card card__front"><img src="img/Collection/Metal Wings/steampunkwing.jpg" alt="" class="item-seven border-radius"></div>
                <div class="card card__back card__back-7"> </div>
            </div>

    </section>
    <section class="seashell_store store">
        <h1 class="seashell__heading">Sea Shell</h1>
        <div class="card">
                <div class="card card__front"><img src="img/Collection/Seashells/decobeach.jpg" alt="" class="item-one border-radius"></div>
                <div class="card card__back card__back-1"> </div>
        </div>
        <div class="card">
            <div class="card card__front"><img src="img/Collection/Seashells/moreshells.jpg" alt="" class="item-two border-radius"></div>
            <div class="card card__back card__back-2"></div>
        </div>
        <div class="card">
            <div class="card card__front"><img src="img/Collection/Seashells/muschelnaussen.jpg" alt="" class="item-three border-radius"></div>
            <div class="card card__back card__back-3"> </div>
        </div>
        <div class="card">
            <div class="card card__front"><img src="img/Collection/Seashells/newshells.jpg" alt="" class="item-four border-radius"></div>
            <div class="card card__back card__back-4"> </div>
        </div>
        <div class="card">
            <div class="card card__front"><img src="img/Collection/Seashells/seashells.jpg" alt="" class="item-five border-radius"></div>
            <div class="card card__back card__back-5"> </div>
        </div>
        <div class="card">
                <div class="card card__front"><img src="img/Collection/Seashells/seaweed.jpg" alt="" class="item-six border-radius"></div>
                <div class="card card__back card__back-6"> </div>
            </div>
            <div class="card">
                <div class="card card__front"><img src="img/Collection/Seashells/tropicalparadise.jpg" alt="" class="item-seven border-radius"></div>
                <div class="card card__back card__back-7"> </div>
            </div>

 
    </section> 
    <section class="aboutMe">
            <h1 class="aboutMe__heading">A little bit about me</h1>
            <img src="img/profile_pic.jpg"  alt="" class="aboutMe__img">
            <p class="aboutMe__content">I grew up in a lovely countryside in Germany, in a big, wild garden,
                which was surrounded by even more untamed nature. It was then, that I discovered 
                my love for anything related to fantasy. Secret fairy gardens, hidden forests full 
                of magic and unexplored caves with enchanted treasures. My imagination was endless 
                and I started writing, drawing and sculpting as soon as I entered school.
                Later, as an adult, I moved to a bigger city, but my love for creativity 
                and magic was unbroken.
                Soon I started creating jewellery - first by experimenting with oven baked clay 
                such as Fimo and Sculpey, followed by beading and wirewrapping, and finally I 
                started working with metal and resin.
                I think it was 2011, when I first started selling my creations on conventions 
                and markets all over the country. Only very small amounts first, way too cheap and in a 
                corner on a table, which a friend booked to sell her own items.
                As I became more confident in my skills, I started booking my own tables and I was so
                happy to see that my jewellery was well received and made people happy.
                I recently moved from Germany to the UK and decided to offer my creations online, 
                to make them available to ...</p>
            
    </section>
    <section class="FAQ">
            <div class="border">&nbsp;</div>
            <h1 class="FAQ__heading">FAQ</h1>
            
            <p class="FAQ__question"> Q: Do you also make custom orders, 
                different from what is posted here?</p>

            <p class="FAQ__answer-1">A: Yes. Just send me an email and we'll discuss your idea.</p>
                    
            <p class="FAQ__question">Q: I'm allergic to nickel. What 
                material do you use for your jewellery?</p>

            <p class="FAQ__answer">A: Resin and metal. The metal I'm using 
                is brass and should be lead and nickel safe. If you have a nickel allergy 
                though, for a small additional charge I 
                can replace the brass ear hooks with either sterling silver or stainless steel. 
                At this point however, I can't offer this service for necklaces or rings yet.</p>
                    
            <p class="FAQ__question">Q: I've seen a piece, which is already sold, 
                but I really wanted it. 
            Can you make the same one again?</p>

            <p class="FAQ__answer">A: In most cases yes. Just drop me an email 
                and I'll have a look if I
                have all materials in stock to reproduce it.</p>
                    
            <p class="FAQ__question">   Q: Do you ship worldwide?</p>

            <p class="FAQ__answer">    A: Right now I'm shipping to the UK, Germany and Austria. If 
                you live somewhere else and want to place an order, please email me 
                first, so that I can look up your countries shipping laws. Some countries 
                for example, don't allow me to ship jewellery there, which contains natural 
                shell or dried moss etc.</p>
            
            <h1 class="FAQ__heading-1">If your question didn't get answered, <br> please use the form 
                below and I'll get back to you soon.</h1>
            <img src="" alt="" class="FAQ__img">
    </section>
    <footer class="footer">
            <img src ="img/logo.png" class="footer__key_logo">  
            <div class="footer__navigation">
                    <ul class="footer__list">
                        <li class="footer__item" class='footer__link'>Contact</li>
                        <li class="footer__item" class='footer__link signup'> <a href='signUp'>Sign Up</a></li>
                        <li class="footer__item" class='footer__link'><a href ='signin'>Sign in</a></li>
                        <li class="footer__item" class='footer__link'>Placeholder</li>
                        <li class="footer__item" class='footer__link'>Placeholder</li>
                     </ul>
            </div>
            <p class="footer__copyright">
                    Built by <a href='#' class='footer__link'>Nathan Coyne</a> for his own enjoyment and to learn more<a href="#" class="footer__link">Advanced CSS and Sass techniques</a> Copyright &copy; by Nathan Coyne. You are 100% allowed to use this webpage for personal and commercial use but you cannot claim this as your own. You will need to replace all images as I am not the owner but I do have permission to use them. 
            </p> 
    </footer>
    <div class="popUp">
            <div class="remove-popUp"></div> 
            <div class="popUp-1__galaxy__content">
                <img src="img/Collection/Galaxy Girl/blue_big.jpg" alt="" class="popUp-1__galaxy__content-image">
                <h1 class="popUp-1__galaxy__content-heading">Blue Galaxy Girl</h1>
                <p class="popUp-1__galaxy__content-info"><i>Inspired by Sailor Moon, this blue galaxy themed set 
                    contains 2 necklaces and a hair clip. The base of said hair clip is a golden 
                    color and so are the necklaces. All necklaces come in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-2__galaxy__content">
                    <img src="img/Collection/Galaxy Girl/green_big.jpg" alt="" class="popUp-2__galaxy__content-image">
                    <h1 class="popUp-2__galaxy__content-heading">Green Galaxy Girl</h1>
                    <p class="popUp-2__galaxy__content-info"><i>Inspired by Sailor Moon, this green galaxy themed set 
                        contains 2 necklaces and a hair clip. The base of said hair clip is a golden 
                        color and so are the necklaces. All necklaces come in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-3__galaxy__content">
                    <img src="img/Collection/Galaxy Girl/pink_big.jpg" alt="" class="popUp-3__galaxy__content-image">
                    <h1 class="popUp-3__galaxy__content-heading">Pink Galaxy Girl</h1>
                    <p class="popUp-3__galaxy__content-info"><i>Inspired by Sailor Moon, this pink galaxy themed set 
                        contains 2 necklaces and a hair clip. The base of said hair clip is a golden 
                        color and so are the necklaces. All necklaces come in a standard length of 45cm.</i></p>
            </div> 
            <div class="popUp-4__galaxy__content">
                    <img src="img/Collection/Galaxy Girl/red_big.jpg" alt="" class="popUp-4__galaxy__content-image">
                    <h1 class="popUp-4__galaxy__content-heading">Red Galaxy Girl</h1>
                    <p class="popUp-4__galaxy__content-info"><i>Inspired by Sailor Moon, this red galaxy themed set 
                        contains 2 necklaces and a hair clip. The base of said hair clip is a golden 
                        color and so are the necklaces. All necklaces come in a standard length of 45cm.</i></p>
            </div>  
            <div class="popUp-1__crystal__content">
                    <img src="img/Collection/Crystals/darkcrystals2_big.jpg" alt="" class="popUp-1__crystal__content-image">
                    <h1 class="popUp-1__crystal__content-heading">Dark Crystals</h1>
                    <p class="popUp-1__crystal__content-info"><i>These 3 crystals have a dark galaxy theme, adorned with 
                        golden crowns. If you prefer a similar crystal with a silver crown and silver necklace,
                        please drop me a message. All necklaces come in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-2__crystal__content">
                    <img src="img/Collection/Crystals/dreierkristall_big.jpg" alt="" class="popUp-2__crystal__content-image">
                    <h1 class="popUp-2__crystal__content-heading">Crystal Cluster</h1>
                    <p class="popUp-2__crystal__content-info"><i>This special crystal is adorned with a gear and a magic lantern. 
                        The necklace comes in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-3__crystal__content">
                    <img src="img/Collection/Crystals/mooncrystals_big.jpg" alt="" class="popUp-3__crystal__content-image">
                    <h1 class="popUp-3__crystal__content-heading">Moon and Stars Crystals</h1>
                    <p class="popUp-3__crystal__content-info"><i>These 3 crystals are themed after the night. Adorned with moons and stars, 
                    they come in different base colors. If you prefer a similar crystal with a silver theme instead of gold, please drop 
                    me a message. All necklaces come in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-4__crystal__content">
                    <img src="img/Collection/Crystals/twocrystals_big.jpg" alt="" class="popUp-4__crystal__content-image">
                    <h1 class="popUp-4__crystal__content-heading">Purple Crystals</h1>
                    <p class="popUp-4__crystal__content-info"><i>The left crystal is adorned with a lantern and golden rings, containing dozens
                     of purple stars. The right one is adorned with 2 different crowns. All necklaces come in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-5__crystal__content">
                    <img src="img/Collection/Crystals/widecrystals_big.jpg" alt="" class="popUp-5__crystal__content-image">
                    <h1 class="popUp-5__crystal__content-heading">Crystal Pendulum</h1>
                    <p class="popUp-5__crystal__content-info"><i>These pendulums are dark galaxy themed, adorned with golden crowns.
                         If you prefer a similar pendulum with a silver crown and silver necklace, please drop me a message. All
                         necklaces come in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-6__crystal__content">
                    <img src="img/Collection/Crystals/spacecrystals_big.jpg" alt="" class="popUp-6__crystal__content-image">
                    <h1 class="popUp-6__crystal__content-heading">Space Crystals</h1>
                    <p class="popUp-6__crystal__content-info"><i>Inspired by my recent Cthulhu readings, 
                        these 5 crystals are space themed. I tried to create a nebula effect, similar to 
                        what you see in galaxies far away. All necklaces come in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-1__metal__content">
                <img src="img/Collection/Metal Wings/celestialkey_big.jpg" alt="" class="popUp-1__metal__content-image">
                <h1 class="popUp-1__metal__content-heading">Celestial Key</h1>
                <p class="popUp-1__metal__content-info"><i>This key necklace is truly angelic. 4 pairs of wings, 2 keys and a clock -
                     all in different metal colors - make this pendant a magical showstopper. Finished with a blue crystal. 
                     The necklace comes in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-2__metal__content">
                    <img src="img/Collection/Metal Wings/dragonage_big.jpg" alt="" class="popUp-2__metal__content-image">
                    <h1 class="popUp-2__metal__content-heading">Winged Inquisition</h1>
                    <p class="popUp-2__metal__content-info"><i>This OAK piece is really heavy. 4 pairs of wings, two raven skulls, a fairy portal,
                         a dragon, a red crystal, the inquisition logo and further adornments make this necklace unforgettable. Not something 
                         for people who prefer light weight jewellery. The necklace comes in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-3__metal__content">
                    <img src="img/Collection/Metal Wings/dragonkey_big.jpg" alt="" class="popUp-3__metal__content-image">
                    <h1 class="popUp-3__metal__content-heading">Dragon Key</h1>
                    <p class="popUp-3__metal__content-info"><i>This key necklace comes with 3 pairs of wings, a dragon and a red crystal. 
                        The necklace comes in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-4__metal__content">
                    <img src="img/Collection/Metal Wings/dragonwings_big.jpg" alt="" class="popUp-4__metal__content-image">
                    <h1 class="popUp-4__metal__content-heading">Winged Dragon</h1>
                    <p class="popUp-4__metal__content-info"><i>This dragon necklace features 3 pairs of extra wings and is adorned 
                        with a red crystal. The necklace comes in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-5__metal__content">
                    <img src="img/Collection/Metal Wings/gardenkey_big.jpg" alt="" class="popUp-5__metal__content-image">
                    <h1 class="popUp-5__metal__content-heading">Garden Key</h1>
                    <p class="popUp-5__metal__content-info"><i>This magical key is nature themed, with many leaves and green crystals.
                         Maybe it opens the door to the secret fairy garden? The necklace comes in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-6__metal__content">
                    <img src="img/Collection/Metal Wings/portalwings_big.jpg" alt="" class="popUp-6__metal__content-image">
                    <h1 class="popUp-6__metal__content-heading">Winged portal</h1>
                    <p class="popUp-6__metal__content-info"><i>This fairy portal features a celestial pair of wings and a silver 
                        cross with a glittering crystal. The necklace comes in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-7__metal__content">
                    <img src="img/Collection/Metal Wings/steampunkwing_big.jpg" alt="" class="popUp-7__metal__content-image">
                    <h1 class="popUp-7__metal__content-heading">Steampunk Wings</h1>
                    <p class="popUp-7__metal__content-info"><i>These 2 wings are steampunk themed. Painted with glittering lacquer, these wings were
                        then adorned with gears and cogs, and sealed with a layer of resin. The necklaces come in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-1__sea-shell__content">
                <img src="img/Collection/Seashells/decobeach_big.jpg" alt="" class="popUp-1__sea-shell__content-image">
                <h1 class="popUp-1__sea-shell__content-heading">Decorative Beach Shells</h1>
                <p class="popUp-1__sea-shell__content-info"><i>These 3 shells are no necklaces, but are meant to serve as decoration pieces and would grace any workspace, mantelpiece, living room table or showcase.
                     The outer shells are quite large and filled with resin, sand and different beach themed embellishment.</i></p>
            </div>
            <div class="popUp-2__sea-shell__content">
                    <img src="img/Collection/Seashells/moreshells_big.jpg" alt="" class="popUp-2__sea-shell__content-image">
                    <h1 class="popUp-2__sea-shell__content-heading">Teal Shells</h1>
                    <p class="popUp-2__sea-shell__content-info"><i>These 4 shells are beach themed with a magical teal colored ocean.
                         Please let me know, if you want a silver or golden necklace. All necklaces come in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-3__sea-shell__content">
                    <img src="img/Collection/Seashells/muschelnaussen_big.jpg" alt="" class="popUp-3__sea-shell__content-image">
                    <h1 class="popUp-3__sea-shell__content-heading">Adorned Shells</h1>
                    <p class="popUp-3__sea-shell__content-info"><i>These 3 shells are embellished with pearls and other tiny trinkets.
                         Also there still seems to be growing some seaweed inside. All necklaces come in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-4__sea-shell__content">
                    <img src="img/Collection/Seashells/newshells_big.jpg" alt="" class="popUp-4__sea-shell__content-image">
                    <h1 class="popUp-4__sea-shell__content-heading">Blue Shells</h1>
                    <p class="popUp-4__sea-shell__content-info"><i>These 5 magical shells all feature a different, beautiful beach with crystal blue water.
                         All necklaces come in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-5__sea-shell__content">
                    <img src="img/Collection/Seashells/seashells_big.jpg" alt="" class="popUp-5__sea-shell__content-image">
                    <h1 class="popUp-5__sea-shell__content-heading">Shell Necklaces</h1>
                    <p class="popUp-5__sea-shell__content-info"><i>2 necklaces feature a beautiful beach with treasure, 
                        the other one is a mermaid amulet with some pearls and tiny shells stuck to it. All necklaces come in a standard length of 45cm.</i></p>
            </div>
            <div class="popUp-6__sea-shell__content">
                    <img src="img/Collection/Seashells/seaweed_big.jpg" alt="" class="popUp-6__sea-shell__content-image">
                    <h1 class="popUp-6__sea-shell__content-heading">Shell Amulets</h1>
                    <p class="popUp-6__sea-shell__content-info"><i>These 2 shell amulets have some seaweed growing out of them 
                        and feature some beautiful sea treasure embellishments. All necklaces come in a standard length of 45cm.
                        </i></p>
            </div>
            <div class="popUp-7__sea-shell__content">
                    <img src="img/Collection/Seashells/tropicalparadise_big.jpg" alt="" class="popUp-7__sea-shell__content-image">
                    <h1 class="popUp-7__sea-shell__content-heading">Tropical Paradise</h1>
                    <p class="popUp-7__sea-shell__content-info"><i>These 7 shells are each their own, very special tropical paradise. Crystal clear
                         blue water, a white beach and some treasure washed up on it. They're designed to take you to that magical place,
                         where you can relax and forget about your daily work life. All necklaces come in a standard length of 45cm.</i></p>
            </div>
    </div>
    <script src="/../index.js"></script>
</body>
</html>