.crystal{
    &__heading{
        text-transform: uppercase;
        color:$col-black;
        grid-row:2;
        grid-column: 2 / span 2;
        font-size:3rem;
    }
    //to change store items go to galaxy.scss as they are all under the same class
    }