.galaxy{
&_store{
    position: absolute;
    width: 70rem;
    height:50rem;
    background-image:radial-gradient( #B1A2E0 1%, #4e3974 );
    border-radius: 5rem;
    display:grid;
    grid-template-rows:45% 10% 45%;
    grid-template-columns:25% 25% 25% 25%;
    top:20%;
    left:120%;
    opacity: 1;
    transition: transform 2s, left 2s;
    justify-items: center;
    align-items: center;
    z-index:4;
    @include blackShadow;
}
&__heading{
    color:$col-black;
    grid-row:2;
    grid-column: 2 / span 2;
    font-size:4rem;
}

&__item-one,
&__item-two,
&__item-three,
&__item-four{
    width:15rem; 
    height: 15rem; 
    grid-row: 1;
    transition: transform 1s;
    backface-visibility: hidden;
    @include smallBlackShadow
}
&__item-one{
    grid-column: 1;
}
&__item-two{
    grid-column: 2;
}
&__item-three{
    grid-column: 3;
}
&__item-four{
    grid-column: 4;
}
&__item-five{
    width:15rem;
    grid-column: 1;
    grid-row: 3;
}
&__item-six{
    width:15rem;
    grid-row:3;
    grid-column: 2;
}
&__item-seven{
    width:15rem;
    grid-column: 3;
    grid-row:3;
}
&__item-eight{
    width:15rem;
    grid-column: 4;
    grid-row:3;
}
}


