.metal,
.galaxy,
.crystal,
.resin,
.seashell{
    &_store{
        position: absolute;
        width: 70rem;
        height:50rem;
        background-image:radial-gradient( #B1A2E0 1%, #4e3974 );
        border-radius: 5rem;
        display:grid;
        grid-template-rows:45% 10% 1fr;
        grid-template-columns:25% 25% 25% 25%;
        top:20%;
        left:120%;
        opacity: 1;
        transition: transform 2s, left 2s;
        justify-items: center;
        align-items: center;
        z-index:4;
        @include blackShadow;
    }
    &__heading{
        color:$col-black;
        grid-row:2;
        grid-column: 1 / span 4;
        font-size:4rem;
    }
    }
.item{
    &-one,
    &-two,
    &-three,
    &-four,
    &-six,
    &-five,
    &-eight,
    &-seven,
    &-nine,
    &-ten{
        width:15rem; 
        height: 15rem; 
        grid-row: 1;
        transition: transform 1s;
        backface-visibility: hidden;
        @include smallBlackShadow
    }
    &-one, &-five{
        grid-column: 1;
    }
    &-two, &-six{
        grid-column: 2;
    }
    &-three, &-seven{
        grid-column: 3;
    }
    &-four, &-eight{
        grid-column: 4;
    }
    &-five, &-nine{
        grid-column: 4;
    }
    &-six, &-ten{
        grid-column: 2;
    }


}

.position-five{
    grid-column: 4;
    grid-row:3;
}